# Virtual environment
venv/
.venv/
.python-version

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# ML models / large files (optional but recommended)
*.h5
*.pt
*.pth
*.onnx
